# Dependencies
node_modules/
**/node_modules/

# Production/Build
dist/
**/dist/
build/
**/build/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*

# System files
.DS_Store
.DS_Store?
**/_Thumbs.db
**/Thumbs.db
ehthumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.patch
*.diff
